{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}
{% block menu_links %}
    <li><p id="user-change" class="nav-link">Сменить пароль</p></li>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Личный кабинет</h1>
        <p>Имя пользователя: {{ user_obj.username }}</p>
        <h3>Статьи добваленные пользователем</h3>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $(`#user-change`).modalForm({
                formURL: "{% url 'accounts:password_change' user_obj.pk%}"
            });
        });
    </script>
{% endblock %}