{% load widget_tweaks %}
{% block content %}
    <form action="{% url "accounts:password_change" user_obj.pk %}" method="post">
        {% csrf_token %}
         <div class="modal-body my-modal-body">
            {% for field in form %}
              <div class="form-group{% if field.errors %} invalid{% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                <i class="far fa-eye-slash change-password-eye" id="{{ field.id_for_label }}_eye"></i>
                {% for error in field.errors %}
                  <p class="help-block" id="error_{{ field.id_for_label }}">{{ error }}</p>
                {% endfor %}
              </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            <button type="button" id="change" class="submit-btn btn btn-primary">Применить</button>
          </div>
    </form>
{% endblock %}
<script>
$(document).ready(function () {
    const idPasswordEye = 'id_password_eye';
    const idPasswordConfirmEye = 'id_password_confirm_eye';
    const idPasswordOldEye = 'id_old_password_eye';

    function showPassword(event) {
        const id = $(`#${event.data.idInput}`);
        const eye = $(`#${event.data.idIcon}`);
        id.attr('type', id.is(':password') ? 'text' : 'password');
        if (id.attr('type') === 'password') {
            eye.removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            eye.removeClass('fa-eye-slash').addClass('fa-eye');
        }
    }

    $(`#${idPasswordEye}`).on('click', {
        idInput: 'id_password',
        idIcon: idPasswordEye}, showPassword);

    $(`#${idPasswordConfirmEye}`).on('click', {
        idInput: 'id_password_confirm',
        idIcon: idPasswordConfirmEye}, showPassword);

    $(`#${idPasswordOldEye}`).on('click', {
        idInput: 'id_old_password',
        idIcon: idPasswordOldEye}, showPassword);
});
</script>
