{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'logout' %}" id="logout" class="nav-link">Выход</a></li>
                <li class="nav-item"><a href="{% url 'detail' user.pk %}" id="detail-user" class="nav-link">{{ user.username }}</a></li>
                {% block menu_links %}{% endblock %}
            {% else %}
                <li class="nav-item"><a href="{% url 'login' %}" id="login" class="nav-link">Вход</a></li>
                <li class="menu-right" ><p id="create-user" class="nav-link">Регистрация</p></li>
            {% endif %}
        </ul>
    </div>
</nav>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
            {% endfor %}
        </div>
{% endif %}
{% block content %}
{% endblock %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<script src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script>
$(document).ready(function() {
    $("#create-user").modalForm({
        formURL: "{% url 'create_user' %}"
    });
});
</script>
{% block scripts %}{% endblock %}
</body>
</html>
