{% extends 'base.html' %}
{% block title %}Статьи{% endblock %}
{% block menu_links %}
    <li><a href="{% url 'webapp:article_create' %}" id="article-create" class="nav-link">Добавить статью</a></li>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Статьи:</h1>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% for article in articles %}
            <a href="{% url 'webapp:article_detail' article.pk %}">{{ article.title }}</a>
            <hr/>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}
