.help-block {
    color: red;
}
#create-user {
    cursor: pointer;
}
.messages {
    text-align: center;
    color: green;
}
.article-img {
    max-width: 100%;
    max-height: 600px;
}
.nav-link {
    cursor: pointer;
}

.label-form {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

#id_category_id{
    width: 20%;
}

#id_title {
    width: 100%;
}

.django-ckeditor-widget{
    width: 100%;
}