{% extends 'base.html' %}
{% block title %}Статья{% endblock %}
{% block menu_links %}
    {% if article.user_id == request.user or request.user.is_staff%}
        <a href="{% url 'webapp:article_update' article.pk%}" id="article-update"  class="nav-item"><i class="fas fa-edit"></i></a>
        <p id="article-delete" class="d-inline-block"><i class="fas fa-trash-alt"></i></p>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container mt-5">
    {% autoescape off %}
        <div class="text-center">
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="{{ article.title }}" class="article-img">
            {% endif %}
        </div>
        {% for category in article.category_id.all %}
            <p class="text-danger">{{ category }}</p>
        {% endfor %}
        <h1>{{ article.title }}</h1>
        <p>{{ article.description }}</p>
        <p>By: {{ article.user_id.username }}</p>
    {% endautoescape %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $(`#article-delete`).modalForm({
                formURL: "{% url 'webapp:article_delete' article.pk%}"
            });
        });
    </script>
{% endblock %}